@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  background-color: white;
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

.col {
  min-height: 100%;
  max-width: 100%;
}

.highlight-region {
  background-color: #323232;
  opacity: 0.3;
}

.modal {
  background-color: white;
  border-radius: 2px;
  margin: 48px 0 80px;
  height: fit-content;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
}

.credential-modal {
  @extend .modal;
  width: 450px;
  min-height: 0;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
